# <a>Santander Product Recommendation - Part 2</a>

> ##  <a> Feature Extraction and Model Building </a>

In [1]:
# Import libraries
import pandas as pd
import numpy as np

import seaborn as sns

import datetime
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)

In [45]:
# Read the sampled data for training the model
sampled_data = pd.read_csv("Sampled_data.csv")
result_data = pd.DataFrame(columns=["Customer_id", "already_active_product", "recommended_products"])

In [46]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
0,2015-01-28,1375586,0,35,0.0,0.0,1,1,1.0,87218.100000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,1,0,1,0,0,1,0
1,2015-01-28,1050619,0,24,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
2,2015-01-28,1050620,0,23,0.0,2.0,1,1,0.0,113194.980000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,2015-01-28,1050622,0,23,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,2015-01-28,1050623,0,23,0.0,2.0,1,1,1.0,113538.810000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [47]:
sampled_data.shape

(5444715, 46)

In [48]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
0,2015-01-28,1375586,0,35,0.0,0.0,1,1,1.0,87218.100000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,1,0,1,0,0,1,0
1,2015-01-28,1050619,0,24,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
2,2015-01-28,1050620,0,23,0.0,2.0,1,1,0.0,113194.980000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,2015-01-28,1050622,0,23,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,2015-01-28,1050623,0,23,0.0,2.0,1,1,1.0,113538.810000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [49]:
sampled_data["customer_id"].nunique()

379846

In [50]:
# Sample the data for Analysis 
unique_ids = pd.Series(sampled_data["customer_id"].unique())
unique_id = unique_ids.sample(frac=0.1, random_state =100)
sampled_data = sampled_data[sampled_data.customer_id.isin(unique_id)]
sampled_data.shape

(545328, 46)

In [51]:
# Create a result dataframe for storing the customer recommanded items
result_data["Customer_id"] =  sampled_data["customer_id"].unique()

In [52]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
12,2015-01-28,1050591,0,23,0.0,2.0,1,1,1.0,58728.390000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
24,2015-01-28,1050706,0,33,0.0,2.0,1,1,1.0,84061.950000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
32,2015-01-28,1050636,0,23,0.0,2.0,1,1,1.0,136930.230000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,0,0,0,0,1,0,0,1,0,0,0,1
47,2015-01-28,1050503,1,23,0.0,2.0,1,1,1.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
51,2015-01-28,1050560,0,23,0.0,2.0,1,1,1.0,59537.490000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [53]:
# Products columns 
product_cols = ['cust_saving_accnt', 'cust_guarntees',
                'cust_current_accnt', 'cust_derivative_accnt',
                'cust_payroll_accnt', 'cust_junior_accnt', 
                'cust_mass_particualr_accnt', 'cust_particualr_accnt',
                'cust_particular_plus_accnt', 'cust_shrt_term_deposit',
                'cust_med_term_deposit', 'cust_long_term_deposit',
                'cust_e_account', 'cust_funds', 'cust_mortage', 
                'cust_pensions', 'cust_loans', 'cust_taxes',
                'cust_credit_card', 'cust_securities', 'cust_home_account',
                'cust_payroll', 'cust_pension_2', 'cust_direct_debit']

In [54]:
sampled_data.sort_values(["customer_id", "date_of_partition"]).head(10)

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
164662,2015-01-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
330719,2015-02-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
662472,2015-03-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
828461,2015-04-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1162752,2015-05-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1414364,2015-06-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1619409,2015-07-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2115182,2015-08-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2269251,2015-09-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2750783,2015-10-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0

## <a> Naive Bayes </a>

In [55]:
from sklearn.metrics import roc_auc_score
from sklearn.naive_bayes import BernoulliNB
from collections import defaultdict

In [56]:
customer_sampled_data = sampled_data.drop(product_cols, axis =1)

In [57]:
# Last 3 months active products
sampled_data = sampled_data[sampled_data["date_of_partition"].isin(['2016-03-28', '2016-04-28',
                                                                   '2016-05-28'])]

In [58]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
4331277,2016-03-28,466167,0,60,0.0,12.0,1,1,1.0,140097.459851,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,0,1,0,0,1,0
4331280,2016-03-28,1442578,0,40,0.0,0.0,1,1,0.0,166547.760000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,0,1,1,0,0,0,1,0
4331300,2016-03-28,1442573,1,23,0.0,0.0,1,0,1.0,90620.460000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,0,0,0,0,0,1,1,0,0,0,1,0
4331318,2016-03-28,1442671,0,22,0.0,0.0,1,1,0.0,116153.170033,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,0,1,0,1,0,0,0,1
4331322,2016-03-28,1442621,0,30,0.0,1.0,1,1,1.0,76594.260000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,1,0,1,0,0,0,1

In [59]:
models = {}
model_preds = {}
id_preds = defaultdict(list)
ids = sampled_data['customer_id'].values
for col in sampled_data[product_cols].columns:
    print(col)
    y_train = sampled_data[col]
    x_train = sampled_data.drop([col, 'customer_id', "date_of_partition"], 1)
        
    clf = BernoulliNB()
    clf.fit(x_train, y_train)
    p_train = clf.predict_proba(x_train)[:,1]
    models[col] = clf
    model_preds[col] = p_train
    for id, p in zip(ids, p_train):
        id_preds[id].append(p)
    #print(y_train)
            
    print(roc_auc_score(y_train, p_train))

cust_saving_accnt
0.9744219780044374
cust_guarntees
0.9993625540931209
cust_current_accnt
0.7992611135279961
cust_derivative_accnt
0.9464735716857158
cust_payroll_accnt
0.9732545442096215
cust_junior_accnt
0.9833500226330544
cust_mass_particualr_accnt
0.8486242792531982
cust_particualr_accnt
0.8026398296644057
cust_particular_plus_accnt
0.8409079018385986
cust_shrt_term_deposit
0.9261246777974368
cust_med_term_deposit
0.9126006572734755
cust_long_term_deposit
0.8899659673157824
cust_e_account
0.8862717727919759
cust_funds
0.9058567118399357
cust_mortage
0.9449409861770549
cust_pensions
0.9066028887084503
cust_loans
0.9258350487229617
cust_taxes
0.8889308019425688
cust_credit_card
0.9395792999280328
cust_securities
0.9002659366601845
cust_home_account
0.8253848025333892
cust_payroll
0.9965357045657569
cust_pension_2
0.9972294128109678
cust_direct_debit
0.9226324812127074

In [60]:
# Taking the unique customers
product_cols.insert(0,"customer_id")
sampled_data= sampled_data[product_cols].groupby("customer_id").sum().reset_index()

In [61]:
sampled_data["customer_id"].nunique()

37386

In [62]:
sampled_data.head()

,customer_id,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit
0,15928,0,0,3,0,0,0,0,3,0,0,0,0,0,3,0,0,0,0,0,0,0,0.0,0.0,0
1,15937,0,0,3,0,3,0,0,0,3,0,0,0,3,3,0,3,0,3,0,3,0,0.0,0.0,3
2,15949,0,0,3,0,0,0,0,3,3,0,0,0,0,0,0,3,0,3,3,0,0,0.0,0.0,3
3,15985,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0,0,0,3,0,0.0,0.0,3
4,16036,0,0,3,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,3,3,0,0.0,0.0,3

In [73]:
# Checking the alredy active products for each customer

already_active = {}
for row in sampled_data.values:
    row = list(row)
    #print(row)
    customer_id = row[0]
    
    active = [c[0] for c in zip(sampled_data[product_cols].columns, row[1:]) if c[1] > 0]
    already_active[customer_id] = active
    result_data.loc[result_data['Customer_id'] == customer_id, 'already_active_product'] = str(active)

In [75]:
# add 7 products(that user don't have yet), higher probability first -> train_pred   

train_preds = {}
for id, prob in id_preds.items():
    
    preds = [i[0] for i in sorted([i for i in zip(sampled_data.columns[1:], prob) if i[0] not in already_active[id]],
                                  key=lambda i:i [1], 
                                  reverse=True)[:7]]
    train_preds[id] = preds
    result_data.loc[result_data['Customer_id'] == id, 'recommended_products'] = str(preds)

In [79]:
result_data.sample(10)

,Customer_id,already_active_product,recommended_products
30974,1323591,[],"['cust_mass_particualr_accnt', 'cust_particual..."
27677,806920,['cust_med_term_deposit'],"['cust_payroll', 'cust_pension_2', 'cust_direc..."
16015,72084,"['cust_guarntees', 'cust_mass_particualr_accnt...","['cust_mortage', 'cust_direct_debit', 'cust_pa..."
10553,1141898,"['cust_guarntees', 'cust_med_term_deposit', 'c...","['cust_e_account', 'cust_funds', 'cust_mortage..."
12981,307638,"['cust_guarntees', 'cust_med_term_deposit', 'c...","['cust_mass_particualr_accnt', 'cust_particula..."
10188,1179249,['cust_guarntees'],"['cust_particualr_accnt', 'cust_mass_particual..."
35103,1468939,['cust_guarntees'],"['cust_particualr_accnt', 'cust_particular_plu..."
478,1063749,['cust_guarntees'],"['cust_mass_particualr_accnt', 'cust_particual..."
14315,372694,"['cust_mass_particualr_accnt', 'cust_loans']","['cust_payroll', 'cust_pension_2', 'cust_direc..."
35673,1480647,NaN,NaN