# <a>Santander Product Recommendation - Part 2</a>

> ##  <a>  Model Building </a>

In [1]:
# Import libraries
import pandas as pd
import numpy as np

import seaborn as sns

import datetime
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)
pd.options.display.max_colwidth =150

In [2]:
# Read the sampled data for training the model
sampled_data = pd.read_csv("Sampled_data.csv")
result_data = pd.DataFrame(columns=["Customer_id", "already_active_product", "recommended_products_excluding_active", "Actual_bought_product_excluding_active"])

In [3]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
0,2015-01-28,1375586,0,35,0.0,0.0,1,1,1.0,87218.100000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,1,0,1,0,0,1,0
1,2015-01-28,1050619,0,24,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
2,2015-01-28,1050620,0,23,0.0,2.0,1,1,0.0,113194.980000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,2015-01-28,1050622,0,23,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,2015-01-28,1050623,0,23,0.0,2.0,1,1,1.0,113538.810000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [4]:
sampled_data.shape

(5444715, 46)

In [5]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
0,2015-01-28,1375586,0,35,0.0,0.0,1,1,1.0,87218.100000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1,0,0,0,0,1,0,1,0,0,1,0
1,2015-01-28,1050619,0,24,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
2,2015-01-28,1050620,0,23,0.0,2.0,1,1,0.0,113194.980000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,2015-01-28,1050622,0,23,0.0,2.0,1,1,0.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,2015-01-28,1050623,0,23,0.0,2.0,1,1,1.0,113538.810000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [6]:
# Convert Datetime column type object to datetime
sampled_data['date_of_partition']  = pd.to_datetime(sampled_data['date_of_partition'], format = "%Y-%m")

In [7]:
sampled_data["customer_id"].nunique()

379846

In [8]:
# Sample the data for Analysis 
unique_ids = pd.Series(sampled_data["customer_id"].unique())
unique_id = unique_ids.sample(frac=0.1, random_state =100)
sampled_data = sampled_data[sampled_data.customer_id.isin(unique_id)]
sampled_data.shape

(545328, 46)

In [9]:
# Create a result dataframe for storing the customer recommanded items
result_data["Customer_id"] =  sampled_data["customer_id"].unique()

In [10]:
sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
12,2015-01-28,1050591,0,23,0.0,2.0,1,1,1.0,58728.390000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
24,2015-01-28,1050706,0,33,0.0,2.0,1,1,1.0,84061.950000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
32,2015-01-28,1050636,0,23,0.0,2.0,1,1,1.0,136930.230000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,0,0,0,0,1,0,0,1,0,0,0,1
47,2015-01-28,1050503,1,23,0.0,2.0,1,1,1.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
51,2015-01-28,1050560,0,23,0.0,2.0,1,1,1.0,59537.490000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [11]:
# Products columns 
product_cols = ['cust_saving_accnt', 'cust_guarntees',
                'cust_current_accnt', 'cust_derivative_accnt',
                'cust_payroll_accnt', 'cust_junior_accnt', 
                'cust_mass_particualr_accnt', 'cust_particualr_accnt',
                'cust_particular_plus_accnt', 'cust_shrt_term_deposit',
                'cust_med_term_deposit', 'cust_long_term_deposit',
                'cust_e_account', 'cust_funds', 'cust_mortage', 
                'cust_pensions', 'cust_loans', 'cust_taxes',
                'cust_credit_card', 'cust_securities', 'cust_home_account',
                'cust_payroll', 'cust_pension_2', 'cust_direct_debit']

In [12]:
sampled_data.sort_values(["customer_id", "date_of_partition"]).head(17)

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
164662,2015-01-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
330719,2015-02-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
662472,2015-03-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
828461,2015-04-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1162752,2015-05-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1414364,2015-06-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
1619409,2015-07-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2115182,2015-08-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2269251,2015-09-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2750783,2015-10-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
2967126,2015-11-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
3433637,2015-12-28,15928,0,49,0.0,20.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
3747164,2016-01-28,15928,0,49,0.0,21.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
4156738,2016-02-28,15928,0,49,0.0,21.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
4454764,2016-03-28,15928,0,49,0.0,21.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
4874425,2016-04-28,15928,0,49,0.0,21.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0
5196237,2016-05-28,15928,0,50,0.0,21.0,1,1,1.0,263023.98,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [13]:
sampled_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 545328 entries, 12 to 5444703
Data columns (total 46 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   date_of_partition                545328 non-null  datetime64[ns]
 1   customer_id                      545328 non-null  int64
 2   cust_sex                         545328 non-null  int64
 3   cust_age                         545328 non-null  int64
 4   cust_new_index                   545328 non-null  float64
 5   cust_antiquity                   545328 non-null  float64
 6   cust_is_prim                     545328 non-null  int64
 7   cust_foreigner_index             545328 non-null  int64
 8   cust_active_index                545328 non-null  float64
 9   cust_gross_income                545328 non-null  float64
 10  cust_saving_accnt                545328 non-null  int64
 11  cust_guarntees                   545328 non-null  int64
 12  cust_current_accnt               545328 non-null  int64
 13  cust_derivative_accnt            545328 non-null  int64
 14  cust_payroll_accnt               545328 non-null  int64
 15  cust_junior_accnt                545328 non-null  int64
 16  cust_mass_particualr_accnt       545328 non-null  int64
 17  cust_particualr_accnt            545328 non-null  int64
 18  cust_particular_plus_accnt       545328 non-null  int64
 19  cust_shrt_term_deposit           545328 non-null  int64
 20  cust_med_term_deposit            545328 non-null  int64
 21  cust_long_term_deposit           545328 non-null  int64
 22  cust_e_account                   545328 non-null  int64
 23  cust_funds                       545328 non-null  int64
 24  cust_mortage                     545328 non-null  int64
 25  cust_pensions                    545328 non-null  int64
 26  cust_loans                       545328 non-null  int64
 27  cust_taxes                       545328 non-null  int64
 28  cust_credit_card                 545328 non-null  int64
 29  cust_securities                  545328 non-null  int64
 30  cust_home_account                545328 non-null  int64
 31  cust_payroll                     545328 non-null  float64
 32  cust_pension_2                   545328 non-null  float64
 33  cust_direct_debit                545328 non-null  int64
 34  is_joined_this_month             545328 non-null  int64
 35  cust_relation_I                  545328 non-null  int64
 36  cust_relation_Others             545328 non-null  int64
 37  cust_channel_KFC                 545328 non-null  int64
 38  cust_channel_KHE                 545328 non-null  int64
 39  cust_channel_Others              545328 non-null  int64
 40  cust_province_name_MADRID        545328 non-null  int64
 41  cust_province_name_Others        545328 non-null  int64
 42  cust_province_name_SEVILLA       545328 non-null  int64
 43  cust_province_name_VALENCIA      545328 non-null  int64
 44  cust_segment_02 - PARTICULARES   545328 non-null  int64
 45  cust_segment_03 - UNIVERSITARIO  545328 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(39)
memory usage: 195.5 MB

In [14]:
# train data is for 1 year Jan 2015 to Dec 2015
# test data is for 5 months Jan 2016 to May 2016

train_data = sampled_data[sampled_data['date_of_partition'].dt.year == 2015]
test_data = sampled_data[sampled_data['date_of_partition'].dt.year == 2016]

In [15]:
train_data["customer_id"].nunique()

36838

In [16]:
test_data = test_data[test_data["customer_id"].isin(train_data["customer_id"].unique())]

In [17]:
test_data["customer_id"].nunique()

36406

In [18]:
train_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
12,2015-01-28,1050591,0,23,0.0,2.0,1,1,1.0,58728.390000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
24,2015-01-28,1050706,0,33,0.0,2.0,1,1,1.0,84061.950000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,1,0,0,1,0,0,1,0,0,0,1
32,2015-01-28,1050636,0,23,0.0,2.0,1,1,1.0,136930.230000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1,0,0,0,0,1,0,0,1,0,0,0,1
47,2015-01-28,1050503,1,23,0.0,2.0,1,1,1.0,116153.170033,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1
51,2015-01-28,1050560,0,23,0.0,2.0,1,1,1.0,59537.490000,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1

## <a> Naive Bayes </a>

In [19]:
from sklearn.metrics import roc_auc_score
from sklearn.naive_bayes import BernoulliNB
from collections import defaultdict

In [20]:
customer_sampled_data = sampled_data.drop(product_cols, axis =1)

In [21]:
customer_sampled_data.head()

,date_of_partition,customer_id,cust_sex,cust_age,cust_new_index,cust_antiquity,cust_is_prim,cust_foreigner_index,cust_active_index,cust_gross_income,is_joined_this_month,cust_relation_I,cust_relation_Others,cust_channel_KFC,cust_channel_KHE,cust_channel_Others,cust_province_name_MADRID,cust_province_name_Others,cust_province_name_SEVILLA,cust_province_name_VALENCIA,cust_segment_02 - PARTICULARES,cust_segment_03 - UNIVERSITARIO
12,2015-01-28,1050591,0,23,0.0,2.0,1,1,1.0,58728.390000,0,0,0,0,1,0,0,1,0,0,0,1
24,2015-01-28,1050706,0,33,0.0,2.0,1,1,1.0,84061.950000,0,1,0,0,1,0,0,1,0,0,0,1
32,2015-01-28,1050636,0,23,0.0,2.0,1,1,1.0,136930.230000,0,0,0,0,1,0,0,1,0,0,0,1
47,2015-01-28,1050503,1,23,0.0,2.0,1,1,1.0,116153.170033,0,0,0,0,1,0,0,1,0,0,0,1
51,2015-01-28,1050560,0,23,0.0,2.0,1,1,1.0,59537.490000,0,0,0,0,1,0,0,1,0,0,0,1

In [22]:
models = {}
model_preds = {}
id_preds = defaultdict(list)
ids = train_data['customer_id'].values
for col in train_data[product_cols].columns:
    print(col)
    y_train = train_data[col]
    x_train = train_data.drop([col, 'customer_id', "date_of_partition"], 1)
        
    clf = BernoulliNB()
    clf.fit(x_train, y_train)
    p_train = clf.predict_proba(x_train)[:,1]
    models[col] = clf
    model_preds[col] = p_train
    for id, p in zip(ids, p_train):
        id_preds[id].append(p)
    #print(y_train)
            
    print(roc_auc_score(y_train, p_train))

cust_saving_accnt
0.9890425238684566
cust_guarntees
0.9999981502137428
cust_current_accnt
0.7779055541108176
cust_derivative_accnt
0.9532934889027028
cust_payroll_accnt
0.9777218213995855
cust_junior_accnt
0.9868020198958387
cust_mass_particualr_accnt
0.8250717446916856
cust_particualr_accnt
0.785116385943417
cust_particular_plus_accnt
0.8301188390059125
cust_shrt_term_deposit
0.9364462852571771
cust_med_term_deposit
0.8930155880361217
cust_long_term_deposit
0.8720072360152932
cust_e_account
0.878486816620342
cust_funds
0.8862070049061683
cust_mortage
0.9387441835364098
cust_pensions
0.896262579532954
cust_loans
0.9283196086942048
cust_taxes
0.8827643550338868
cust_credit_card
0.9322479766880728
cust_securities
0.8787215399714104
cust_home_account
0.8126417087982704
cust_payroll
0.996438432834629
cust_pension_2
0.9977437133105038
cust_direct_debit
0.9152212949264784

In [23]:
# Taking the unique customers
product_cols.insert(0,"customer_id")
train_data= train_data[product_cols].groupby("customer_id").sum().reset_index()
train_data.head()

,customer_id,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit
0,15928,0,0,12,0,0,0,0,12,0,0,0,0,0,12,0,0,0,0,1,0,0,0.0,0.0,0
1,15937,0,0,12,0,12,0,0,0,12,0,0,0,12,12,0,12,0,12,6,12,0,3.0,3.0,12
2,15949,0,0,12,0,0,0,0,12,12,0,0,0,0,0,0,12,0,12,12,0,0,0.0,0.0,4
3,15985,0,0,11,0,0,0,0,12,12,0,0,0,0,0,10,0,10,0,0,12,0,0.0,0.0,12
4,16036,0,0,12,0,0,0,0,0,0,0,0,0,12,0,0,0,0,0,12,12,0,0.0,0.0,12

In [24]:
train_data["customer_id"].nunique()

36838

In [25]:
train_data.head()

,customer_id,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit
0,15928,0,0,12,0,0,0,0,12,0,0,0,0,0,12,0,0,0,0,1,0,0,0.0,0.0,0
1,15937,0,0,12,0,12,0,0,0,12,0,0,0,12,12,0,12,0,12,6,12,0,3.0,3.0,12
2,15949,0,0,12,0,0,0,0,12,12,0,0,0,0,0,0,12,0,12,12,0,0,0.0,0.0,4
3,15985,0,0,11,0,0,0,0,12,12,0,0,0,0,0,10,0,10,0,0,12,0,0.0,0.0,12
4,16036,0,0,12,0,0,0,0,0,0,0,0,0,12,0,0,0,0,0,12,12,0,0.0,0.0,12

In [26]:
# Checking the alredy active products for each customer

already_active = {}
for row in train_data.values:
    row = list(row)
    #print(row)
    customer_id = row[0]
    
    active = [c[0] for c in zip(train_data[product_cols].columns[1:], row[1:]) if c[1] > 0]
    already_active[customer_id] = active
    #print(active)    
    result_data.loc[result_data['Customer_id'] == customer_id, 'already_active_product'] = str(active)

In [28]:
# add 3 products(that user don't have yet), higher probability first -> train_pred   

train_preds = {}
for id, prob in id_preds.items():
    
    preds = [i[0] for i in sorted([i for i in zip(train_data[product_cols].columns[1:], prob) if i[0] not in already_active[id]],
                                  key=lambda i:i [1], 
                                  reverse=True)[:3]]
    #print(preds)
    train_preds[id] = preds
    result_data.loc[result_data['Customer_id'] == id, 'recommended_products_excluding_active'] = str(preds)

In [29]:
test_data= test_data[product_cols].groupby("customer_id").sum().reset_index()
test_data.head()

,customer_id,cust_saving_accnt,cust_guarntees,cust_current_accnt,cust_derivative_accnt,cust_payroll_accnt,cust_junior_accnt,cust_mass_particualr_accnt,cust_particualr_accnt,cust_particular_plus_accnt,cust_shrt_term_deposit,cust_med_term_deposit,cust_long_term_deposit,cust_e_account,cust_funds,cust_mortage,cust_pensions,cust_loans,cust_taxes,cust_credit_card,cust_securities,cust_home_account,cust_payroll,cust_pension_2,cust_direct_debit
0,15928,0,0,5,0,0,0,0,5,0,0,0,0,0,5,0,0,0,0,1,0,0,0.0,0.0,0
1,15937,0,0,5,0,4,0,0,0,5,0,0,0,5,5,0,5,0,5,0,5,0,0.0,0.0,5
2,15949,0,0,5,0,0,0,0,5,5,0,0,0,0,0,0,5,0,5,5,0,0,0.0,0.0,4
3,15985,0,0,0,0,0,0,0,5,5,0,0,0,0,0,0,0,0,0,0,5,0,0.0,0.0,5
4,16036,0,0,5,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,5,5,0,0.0,0.0,5

In [30]:
# Checking the product bought by consumer

for row in test_data.values:
    row = list(row)
    customer_id = row[0]
    
    bought_products = [c[0] for c in zip(test_data[product_cols].columns[1:], row[1:]) if (c[1] > 0) and (c[0] not in already_active[customer_id]) ]
    
    result_data.loc[result_data['Customer_id'] == customer_id, 'Actual_bought_product_excluding_active'] = str(bought_products)

In [35]:
result_data[result_data["Customer_id"]==1516827]

,Customer_id,already_active_product,recommended_products_excluding_active,Actual_bought_product_excluding_active
36608,1516827,['cust_current_accnt'],"['cust_shrt_term_deposit', 'cust_mass_particualr_accnt', 'cust_direct_debit']","['cust_mass_particualr_accnt', 'cust_e_account']"